<div class="search-quest">
  <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
  <mdl-tabs mdl-ripple [mdl-tab-active-index]="activeIndex" (mdl-tab-active-changed)="tabChanged($event)">
    <mdl-tab-panel mdl-tab-panel-title="Active quests">
      <![CDATA[
        <mdl-switch [(ngModel)]="disableTargaryens" mdl-ripple>Disable Targaryens</mdl-switch>
        <mdl-switch [(ngModel)]="disableBaratheon" mdl-ripple>Disable Baratheon</mdl-switch>
        <mdl-tabs mdl-ripple mdl-tab-active-index="0" (mdl-tab-active-changed)="tabChanged($event)">
            <mdl-tab-panel>
              <mdl-tab-panel-title>
                <mdl-icon class="mdl-color-text--primary">person</mdl-icon><span>Starks</span>
              </mdl-tab-panel-title>
              <mdl-tab-panel-content>
              <ul>
                <li>Eddard</li>
                <li>Catelyn</li>
                <li>Robb</li>
                <li>Sansa</li>
                <li>Brandon</li>
                <li>Arya</li>
                <li>Rickon</li>
              </ul>
              </mdl-tab-panel-content>
            </mdl-tab-panel>
            <mdl-tab-panel mdl-tab-panel-title="Lannisters">
              <ul>
                  <li>Tywin</li>
                  <li>Cersei</li>
                  <li>Jamie</li>
                  <li>Tyrion</li>
              </ul>
            </mdl-tab-panel>
            <mdl-tab-panel mdl-tab-panel-title="Targaryens" [disabled]="disableTargaryens">
              <ul>
                  <li>Viserys</li>
                  <li>Daenerys</li>
              </ul>
            </mdl-tab-panel>
            <mdl-tab-panel mdl-tab-panel-title="Baratheon" [disabled]="disableBaratheon">
              <mdl-tab-panel-title>
                <mdl-icon class="mdl-color-text--primary">person</mdl-icon><span>Baratheon</span>
              </mdl-tab-panel-title>
              <mdl-tab-panel-content>
                <ul>
                  <li>Robert</li>
                  <li>Renly</li>
                  <li>Stanis</li>
                  <li>Joffrey</li>
                  <li>Myrcella</li>
                  <li>Tommen</li>
                </ul>
                </mdl-tab-panel-content>
            </mdl-tab-panel>
        </mdl-tabs>
      ]]>
    </mdl-tab-panel>
    <mdl-tab-panel mdl-tab-panel-title="Search">
      <mdl-textfield type="text" label="Filter" floating-label autofocus></mdl-textfield>
      <!--<ul>-->
        <!--<li *ngFor="let quest of quests">{{quest}}</li>-->
        <!--<li>{{quests}}</li>-->
      <!--</ul>-->
      <mdl-list>
        <mdl-list-item lines="3" *ngFor="let quest of quests">
          <mdl-list-item-primary-content>
            <mdl-icon mdl-list-item-avatar>person</mdl-icon>
            <span>{{quest.producer.user.username}}</span>
            <mdl-list-item-text-body>
              {{quest.stages[0].description}}
            </mdl-list-item-text-body>
          </mdl-list-item-primary-content>
          <mdl-list-item-secondary-content>
            <a href="#"><mdl-icon>star</mdl-icon></a>
          </mdl-list-item-secondary-content>
        </mdl-list-item>
      </mdl-list>
    </mdl-tab-panel>
  </mdl-tabs>
</div>
