<mdl-layout #mainLayout="mdlLayout" mdl-layout-fixed-header mdl-layout-fixed-drawer mdl-layout-header-seamed>
<!--<mdl-layout #mainLayout="mdlLayout">-->
    <!--<mdl-layout-header class="mdl-layout--no-desktop-drawer-button">-->
    <mdl-layout-header mdl-layout-header-transparent>
      <!--<mdl-layout-header-row class="main-header">-->
      <mdl-layout-header-row>
         <!--<div *ngIf="mainLayout.isSmallScreen" class="mdl-layout__drawer-button" (click)="mainLayout.toggleDrawer()">
            <mdl-icon>&#xE5D2;</mdl-icon>
         </div>-->
         <mdl-layout-title class="docs-layout-title">
            {{title}}
         </mdl-layout-title>
         <mdl-layout-spacer></mdl-layout-spacer>
          <nav class="mdl-navigation">
            <!--<a class="mdl-navigation__link" [routerLink]="['/layout/l1']">
              <mdl-icon mdl-badge="3" mdl-badge-overlap>comment</mdl-icon>
            </a>-->
            <button #editUserButton mdl-button mdl-button-type="raised" mdl-colored="primary"mdl-ripple (click)="editUserDialog.show()">
              <mdl-icon mdl-badge="3" mdl-badge-overlap>comment</mdl-icon>
            </button>
            <!--<a class="mdl-navigation__link" [routerLink]="['/layout/l2']">Link 2</a>
            <a class="mdl-navigation__link" [routerLink]="['/layout/l3']">Link 3</a>-->
          </nav>
        <!--<div class="mdl-cell--hide-phone">
          <a class="github-button mdl-color-text--primary" href="https://github.com/mseemann/angular2-mdl" data-style="mega" data-count-href="/mseemann/angular2-mdl/stargazers" data-count-api="/repos/mseemann/angular2-mdl#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star mseemann/angular2-mdl on GitHub">Star</a>
        </div>-->
      </mdl-layout-header-row>
    </mdl-layout-header>
    <mdl-layout-drawer>
      <nav class="mdl-navigation">
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/']">Home</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/']">Search quest</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/']">In progress quests</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link disabled" [attr.href]="null">Completed quests</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link disabled" [attr.href]="null">Settings</a>
        <hr>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/badge']">Badges</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/theme']">Themes</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/button']">Buttons</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/card']">Cards</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/chips']">Chips</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/dialogs']">Dialog (imperative)</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/dialogs-declarative']">Dialog (declarative)</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/icon']">Icons</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/layout']">Layouts</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/list']">List</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/loading']">Loading</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/menu']">Menus</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/reactiveForms']">Reactive Forms</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/shadow']">Shadows</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/slider']">Sliders</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/snackbar']">Snackbar</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/table']">Tables</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/tabs']">Tabs</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/textfield']">Text Fields</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/toggle']">Toggle</a>
        <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" [routerLink]="['/tooltip']">Tooltips</a>
      </nav>
    </mdl-layout-drawer>
    <mdl-layout-content class="app-main-content">
      <div class="main-content">
        <div class="router-outlet">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mdl-layout-content>
    <mdl-dialog #editUserDialog
                [mdl-dialog-config]="{
                  styles:{
                    'width': '300px',
                    'height': '100%',
                  },
                  clickOutsideToClose: true,
                  isModal:true,
                  openFrom: editUserButton,
                  enterTransitionDuration: 400,
                  leaveTransitionDuration: 400}"
                (show)="onDialogShow(dialogRef)"
                (hide)="onDialogHide()">
      <!--<h3 class="mdl-dialog__title">Edit User</h3>-->
      <div class="mdl-dialog__content">
        <mdl-textfield type="text" label="Username" [(ngModel)]="username" floating-label autofocus></mdl-textfield>
      </div>
      <div class="mdl-dialog__actions">
        <button mdl-button (click)="saveUser()" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>
        <button mdl-button (click)="editUserDialog.close()" mdl-ripple>Cancel</button>
      </div>
    </mdl-dialog>
</mdl-layout>

