<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Real quest</title>
  <base href="{{htmlWebpackPlugin.options.baseUrl}}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <root-app>
    <div class="loading spinner">
        <div class="mdl-spinner mdl-js-spinner is-active is-upgraded">
          <div class="mdl-spinner__layer mdl-spinner__layer-1">
            <div class="mdl-spinner__circle-clipper mdl-spinner__left">
              <div class="mdl-spinner__circle"></div>
            </div>
            <div class="mdl-spinner__gap-patch">
              <div class="mdl-spinner__circle"></div>
            </div>
            <div class="mdl-spinner__circle-clipper mdl-spinner__right">
              <div class="mdl-spinner__circle"></div>
            </div>
          </div>
          <div class="mdl-spinner__layer mdl-spinner__layer-2">
            <div class="mdl-spinner__circle-clipper mdl-spinner__left">
              <div class="mdl-spinner__circle"></div>
            </div>
            <div class="mdl-spinner__gap-patch">
              <div class="mdl-spinner__circle"></div>
            </div>
            <div class="mdl-spinner__circle-clipper mdl-spinner__right">
              <div class="mdl-spinner__circle"></div>
            </div>
          </div>
          <div class="mdl-spinner__layer mdl-spinner__layer-3">
            <div class="mdl-spinner__circle-clipper mdl-spinner__left">
              <div class="mdl-spinner__circle"></div>
            </div>
            <div class="mdl-spinner__gap-patch">
              <div class="mdl-spinner__circle"></div>
            </div>
            <div class="mdl-spinner__circle-clipper mdl-spinner__right">
              <div class="mdl-spinner__circle"></div>
            </div>
          </div>
          <div class="mdl-spinner__layer mdl-spinner__layer-4">
            <div class="mdl-spinner__circle-clipper mdl-spinner__left">
              <div class="mdl-spinner__circle"></div>
            </div>
            <div class="mdl-spinner__gap-patch">
              <div class="mdl-spinner__circle"></div>
            </div>
            <div class="mdl-spinner__circle-clipper mdl-spinner__right">
              <div class="mdl-spinner__circle"></div>
            </div>
          </div>
        </div>
        <div>loading ...</div>
			<div class="text-container">
          <span>&nbsp;</span>
			</div>
		</div>
	</root-app>

{{#if htmlWebpackPlugin.options.production}}

  <script>
    if (sessionStorage && history){
      // simulate html5 mode server behavior on github pages - see 404.html
      let redirect = sessionStorage.redirect;
      delete sessionStorage.redirect;
      if (redirect && redirect != location.href) {
        history.replaceState(null, null, redirect);
      }
    }
  </script>

{{/if}}
<dialog-outlet></dialog-outlet>
<div id="map"></div>
<script>
  let globalMapObject;

  function initMap() {

    let options = {
      enableHighAccuracy: true,
      timeout: 5000,
      maximumAge: 0
    };

    function success(pos) {
      let crd = pos.coords;

      let uluru = {lat: crd.latitude, lng: crd.longitude};
      globalMapObject = new google.maps.Map(document.getElementById('map'), {
        zoom: 17,
        center: uluru,
        disableDefaultUI: true
      });
      let marker = new google.maps.Marker({
        position: uluru,
        map: globalMapObject
      });
    };

    function error(err) {
      console.warn(`ERROR(${err.code}): ${err.message}`);
    };

    navigator.geolocation.getCurrentPosition(success, error, options);

  }
</script>
</body>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9zRO-IpOasIQN-ea5HpCec02NvBFZwEg&callback=initMap">
  </script>
</html>
