<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>angular-mdl/core</title>
  <base href="{{htmlWebpackPlugin.options.baseUrl}}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
   <meta name="description" content="Angular Material Design Lite (angular-mdl/core); Angular components
    for Material Design Lite; Components instead of css classes; Buttons, Snackbar,
    Layouts, Tabs, Badges, Icons, Menus">
   <style>
      root-app > .loading {
        margin: 0 auto;
				text-align: center;
        display: block;
        position: relative;
        top: 25vh;
      }

		 root-app  .text-container {
			 text-align: left;
			 display:inline-block;
			 padding: 0 1em;
       max-width: 50%;
		 }

      @media screen and (max-width: 1024px) {
        .mdl-layout__drawer-button {
          line-height: 47px;
        }
      }

   </style>
</head>
<body>
  <root-app>
    <div class="loading spinner">
        <div class="mdl-spinner mdl-js-spinner is-active is-upgraded">
          <div class="mdl-spinner__layer mdl-spinner__layer-1">
            <div class="mdl-spinner__circle-clipper mdl-spinner__left">
              <div class="mdl-spinner__circle"></div>
            </div>
            <div class="mdl-spinner__gap-patch">
              <div class="mdl-spinner__circle"></div>
            </div>
            <div class="mdl-spinner__circle-clipper mdl-spinner__right">
              <div class="mdl-spinner__circle"></div>
            </div>
          </div>
          <div class="mdl-spinner__layer mdl-spinner__layer-2">
            <div class="mdl-spinner__circle-clipper mdl-spinner__left">
              <div class="mdl-spinner__circle"></div>
            </div>
            <div class="mdl-spinner__gap-patch">
              <div class="mdl-spinner__circle"></div>
            </div>
            <div class="mdl-spinner__circle-clipper mdl-spinner__right">
              <div class="mdl-spinner__circle"></div>
            </div>
          </div>
          <div class="mdl-spinner__layer mdl-spinner__layer-3">
            <div class="mdl-spinner__circle-clipper mdl-spinner__left">
              <div class="mdl-spinner__circle"></div>
            </div>
            <div class="mdl-spinner__gap-patch">
              <div class="mdl-spinner__circle"></div>
            </div>
            <div class="mdl-spinner__circle-clipper mdl-spinner__right">
              <div class="mdl-spinner__circle"></div>
            </div>
          </div>
          <div class="mdl-spinner__layer mdl-spinner__layer-4">
            <div class="mdl-spinner__circle-clipper mdl-spinner__left">
              <div class="mdl-spinner__circle"></div>
            </div>
            <div class="mdl-spinner__gap-patch">
              <div class="mdl-spinner__circle"></div>
            </div>
            <div class="mdl-spinner__circle-clipper mdl-spinner__right">
              <div class="mdl-spinner__circle"></div>
            </div>
          </div>
        </div>
        <div>loading ...</div>
			<div class="text-container">
          <span>&nbsp;</span>
			</div>
		</div>
	</root-app>

{{#if htmlWebpackPlugin.options.production}}

  <script>
    if (sessionStorage && history){
      // simulate html5 mode server behavior on github pages - see 404.html
      var redirect = sessionStorage.redirect;
      delete sessionStorage.redirect;
      if (redirect && redirect != location.href) {
        history.replaceState(null, null, redirect);
      }
    }
  </script>

{{/if}}
<dialog-outlet></dialog-outlet>
</body>
</html>
