<div class="create-quest">
  <form [formGroup]="form">
    <p>
      <mdl-textfield label="Quest Name" name="questName" type="text" formControlName="questName" floating-label></mdl-textfield>
    </p>
    <p *ngFor="let control of form.stages; let i=index">
      <!--{{control}}-->
      <input [formControlName]="i">
    </p>
    <p>
    <button mdl-button (click)="createStage()" mdl-button-type="mini-fab" mdl-colored="primary" >
      <mdl-icon>add</mdl-icon>
    </button>
      <button mdl-button (click)="onSubmit()"  [disabled]="!form.valid" mdl-button-type="raised" mdl-ripple mdl-colored="primary">Submit</button>
    </p>
  </form>
</div>
